.shortanswer {
  width: 50%;
  height: 26px;
  border: none;
  outline: none;
  border-bottom: 1px dotted #888888;
}

.longanswer {
  width: 85%;
  height: 26px;
  border: none;
  outline: none;
  border-bottom: 1px dotted #888888;
}
