.container {
  width: 100%;
  min-height: calc(100vh - 50px);
  background-color: #f0ebf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.components_container {
  width: 40%;
  position: relative;
}

.form_container {
  position: relative;
  margin-bottom: 20px;
}

.navigation {
  position: absolute;
  right: -65px;
}

.border {
  position: absolute;
  left: 0;
  width: 6px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background-color: rgb(103, 58, 183);
}

.title_container {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  margin: 40px 0 10px;
  padding: 30px 20px;
  position: relative;

  .title_bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(103, 58, 183);
    border-radius: 10px 10px 0 0;
  }

  .title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title {
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    outline: none;
    border: none;
    padding-bottom: 10px;
  }

  .subtitle {
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
    padding-bottom: 10px;
  }
}

.required {
  font-size: 14px;
  color: rgb(217, 48, 37);
}

.form_wrapper {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  margin: 10px 0;
  padding: 20px;

  &.error {
    border: 1px solid rgb(217, 48, 37);
  }

  .error_message {
    margin-top: 15px;
    color: rgb(217, 48, 37);
    font-size: 12px;
  }

  .form_header {
    display: flex;
    min-height: 40px;
    margin-bottom: 10px;
    gap: 5px;
  }

  .shortanswer {
    width: 50%;
    height: 26px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfcfcf;

    &:focus {
      border-bottom: 2px solid rgb(103, 58, 183);
    }
  }

  .longanswer {
    width: 100%;
    height: auto;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfcfcf;
    resize: none;
    overflow: hidden;

    &:focus {
      border-bottom: 2px solid rgb(103, 58, 183);
    }
  }

  .checkbox_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .checkbox {
      margin-right: 10px;
      cursor: pointer;
      width: 18px;
      height: 18px;
      accent-color: rgb(103, 58, 183);
    }
  }

  .dropdown {
    width: 50%;

    .dropdown_input {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      cursor: pointer;
    }

    .dropdown_icon {
      transition: transform 0.3s ease;
    }

    .dropdown_menu {
      position: sticky;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
      list-style: none;
      margin: 5px 0 0;
      padding: 0;
    }

    .dropdown_option {
      padding: 10px;
      cursor: pointer;
    }

    .dropdown_option:hover {
      background-color: #f0f0f0;
    }
  }
}

.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .submit_button {
    width: 70px;
    padding: 10px 0;
    background-color: rgb(103, 58, 183);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: rgb(74, 30, 151);
    }
  }

  .clear_button {
    color: rgb(103, 58, 183);
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
